@import "tailwindcss";

:root{
  --background:#F8F6F2;
  --foreground:#1F2937;

  --green:#1F5E3B;
  --green-light:#3C7C59;

  --cream:#F8F6F2;
}

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  padding:0;
  background:var(--background);
  color:var(--foreground);
  font-family:var(--font-inter),sans-serif;
}

h1,h2,h3,h4{
  font-family:var(--font-playfair),serif;
}

section{
  padding-top:90px;
}

.container{
  max-width:1280px;
  margin:auto;
  padding-left:24px;
  padding-right:24px;
}
/* ===========================
   Animaciones O Recuncho
=========================== */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp .8s ease forwards;
}

.fade-delay-1 {
  animation-delay: .15s;
}

.fade-delay-2 {
  animation-delay: .30s;
}

.fade-delay-3 {
  animation-delay: .45s;
}